@font-face {
   font-family: 'HelveticaNeue Heavy';
   font-display: swap;
   src: url('file:///C:/Users/Fahmi%20Mohammed/Downloads/Telegram%20Desktop/riders/riders/fonts/HelveticaNeue%20Heavy/font.ttf');
}
