@font-face {
   font-family: 'HelveticaNeueCyr Medium';
   font-display: swap;
   src: url('file:///C:/Users/Fahmi%20Mohammed/Downloads/Telegram%20Desktop/riders/riders/fonts/HelveticaNeueCyr%20Medium/font.ttf');
}
